/* header stuff*/
h1 {background: #f44242;
  color: brown;
  font-size: 32px;}
h1 {
  min-height: 250px;
  margin-bottom: 15px;
}

/* BASIC STYLES FOR PROTOTYPING */
section#intro div,
section#body div,
section#personal div,
section#conclusion div{
  min-height: 250px;
  margin-bottom: 15px;
}
section#intro div {
  background: #f49d41;
  color: brown;
  font-size: 32px;
}
section#body div {
  background: #f4dc41;
  color: brown;
  font-size: 32px;
}
section#personal div {
  background: #9df441;
  color: brown;
  font-size: 32px;
}

section#conclusion div {
  background: #41f1f4;
  color: brown;
  font-size: 32px;
}

/* GRID/LAYOUT STYLES */
section#intro {
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}
section#body {
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

section#personal {
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}
section#conclusion {
  display:grid;
  grid-gap: 20px;
  grid-template-columns: 1fr

/* @media screen and (min-width: 1080px) { */
/*   section#personal { */
/*     grid-template-columns: 400px 1fr; */
  }
}
