/* HEADER STUFF */
h1 {background: #f4b5e0;
  color: black;
  font-size: 50px;}
h1 {
  min-height: 100px;
  margin-bottom: 15px;
}
/* Font Families*/
h1,
h2,
h3 {
  font-family: 'TerminalDosis', Times, serif;}
p {font-family: 'TerminalDosis', Times, sans-serif;}

/* BLOCK ELEMENTS FOR ALL 4 DIVS*/
section#intro div,
section#body div,
section#personal div,
section#conclusion div{
  min-height: 250px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

/* VIDEO*/
section#video-container{
  min-height: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

/* INTRO STYLE */
section#intro div {
  background: #b5ecf4;
  color: black;
  font-size: 18px;
}

/* BODY STYLE */
section#body div {
  background: #f4b5e0;
  color: black;
  font-size: 18px;
}

/* PERSONAL STYLE */
section#personal div {
  background: #b5ecf4;
  color: black;
  font-size: 18px;
}

/* CONCLUSION STYLE*/
section#conclusion div {
  background: #f4b5e0;
  color: black;
  font-size: 20px;
}

/* GRID/LAYOUT */
section#intro {
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;}

section#body {
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

section#personal {
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}
section#conclusion {
  display:grid;
  grid-gap: 20px;
  grid-template-columns: 1fr
}
@media screen and (min-width: 1080px)
